<section class="card table-card">
  <div class="table-head">
    <h3>Últimas Transações</h3>
    <span>Transações</span>
  </div>

  <div style="font-size:12px; opacity:.6; margin-bottom:6px;">Total transações: {{ transactions.length }}</div>

  <div class="table">
    <div class="row" *ngFor="let transacao of transactions; let i = index">
      <div class="desc">{{ transacao.desc }}</div>
      <div class="val">{{ transacao.value }}</div>
    </div>
  </div>
</section>

<div class="modal-overlay" *ngIf="mostrarNovaTransacao">
  <div class="modal">
    <h3>Nova Transação</h3>
    <label>Descrição</label>
    <input [(ngModel)]="novaTransacaoDescricao" placeholder="Ex: Padaria" />

    <label>Categoria</label>
    <input [(ngModel)]="novaTransacaoCategoria" placeholder="Ex: Alimentação" />

    <div class="field-inline">
      <label>Valor</label>
      <div>
        <input [(ngModel)]="novaTransacaoValor" placeholder="Ex: 230 ou 230.50" style="margin-right: 10px;"/>
        <select [(ngModel)]="novaTransacaoTipo" class="type-select">
          <option value="entrada">Entrada (+)</option>
          <option value="saida">Saída (-)</option>
        </select>
      </div>
    </div>
    <div style="display:flex; gap:8px; margin-top:12px; justify-content:flex-end;">
      <button class="btn ghost" (click)="fecharNovaTransacao()">Cancelar</button>
      <button class="btn primary" (click)="adicionarTransacao()">Salvar</button>
    </div>
  </div>
</div>
