/* página inteira */
.shell{
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr;
  background: #eef2f8;
  padding: 22px;
  gap: 18px;
}

/* sidebar estilo mock */
.sidebar{
  border-radius: 22px;
  padding: 28px 22px;
  background: #0f1620;
  color: #eaf0ff;
}

.brand{
  font-size: 44px;
  font-weight: 900;
  letter-spacing: .3px;
  margin-bottom: 18px;

  span{ color:#00dd8f; }
}

.nav{
  display:flex;
  flex-direction:column;
  gap: 14px;
  margin-top: 12px;
}

.nav-item{
  display:block;
  padding: 14px 16px;
  border-radius: 16px;
  color: rgba(234,240,255,.88);
  text-decoration:none;
  font-size: 18px;

  &:hover{ background: rgba(255,255,255,.08); }

  &.active{
    background: rgba(255,255,255,.10);
    font-weight: 800;
  }
}

/* área principal */
.main{
  border-radius: 22px;
  background: rgba(255,255,255,.6);
  padding: 18px 18px 22px;
}

/* topbar */
.topbar{
  display:flex;
  align-items:center;
  justify-content: space-between;
  gap: 14px;
  padding: 8px 8px 18px;
}

.search{
  flex:1;
  max-width: 760px;
  display:flex;
  align-items:center;
  gap: 12px;
  background: #fff;
  border-radius: 18px;
  padding: 14px 16px;
  border: 1px solid rgba(0,0,0,.06);
  box-shadow: 0 1px 2px rgba(0,0,0,.04);
}

.search input{
  margin-bottom: 0% !important;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.actions{ display:flex; gap: 12px; }

.btn{
  border: none;
  border-radius: 999px;
  padding: 12px 16px;
  font-weight: 900;
  cursor:pointer;
}

.btn.ghost{
  background: #fff;
  border: 1px solid rgba(0,0,0,.06);
  box-shadow: 0 1px 2px rgba(0,0,0,.04);
}

.btn.primary{
  background: #3b6cff;
  color:#fff;
  box-shadow: 0 10px 22px rgba(59,108,255,.25);
}

.content{ padding: 0 8px; }

// /* responsivo */
// @media (max-width: 1024px){
//   .shell{ grid-template-columns: 1fr; }
//   .sidebar{ display:none; }
// }
