.profile-card {
  width: 380px;
  padding: 32px;
  border-radius: 16px;
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  text-align: center;

  h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input{
      width: auto;
    }
  }

  label {
    font-size: 0.95rem;
    font-weight: 600;
    color: #9ca3af;
  }

  input {
    padding: 0.9rem;
    background: #1b2337;
    border: 1px solid #2a3550;
    border-radius: 12px;
    color: #f3f4f6;
    transition: 0.2s ease;

    &::placeholder {
      color: #6b7280;
    }

    &:focus {
      outline: none;
      border-color: #4f9cff;
      box-shadow: 0 0 0 3px rgba(79, 156, 255, 0.25);
    }

    &:disabled {
      background: #111927;
      color: #6b7280;
    }
  }

  /* ------------------ Botão primário (Salvar) ------------------ */
  .btn-primary {
    background: linear-gradient(90deg, #4ade80 0%, #3b82f6 100%);
    color: #0f1629;
    padding: 0.85rem;
    border: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s ease;
    margin-top: 0.5rem;

    &:hover {
      filter: brightness(1.1);
    }
  }

  /* ------------------ Link estilo botão leve (Alterar senha) ------------------ */
  a {
    text-align: center;
    color: #60a5fa;
    font-weight: 600;
    margin-top: .3rem;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: #93c5fd;
      text-decoration: underline;
    }
  }

  /* ------------------ Botão DELETE (vermelho premium) ------------------ */
  .btn-danger {
    background: #ef4444;
    color: white;
    padding: 0.85rem;
    border: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.15s ease;

    &:hover {
      background: #dc2626;
    }
  }

  /* Mensagens */
  .success {
    text-align: center;
    color: #4ade80;
    font-weight: 600;
  }

  .error {
    text-align: center;
    color: #f87171;
    font-weight: 600;
  }
}
